<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/fontello/css/fontello.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
  	<div class="wrapper">
  		<div class="container">
  			<div class="row">
  				<div class="sidebar column">
            {% include my-profile.html %}
  				</div>

  				<div class="content column">
            {{ content }}
  				</div>
  			</div>
  		</div>
  	</div>

    <script type="text/javascript" src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>