<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/fontello/css/fontello.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>

    {{ content }}

    <script type="text/javascript" src="{{ '/assets/js/pimple-pop-config.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/random-js.umd.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/sociolla.lib-min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/vue.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/pimple-pop.js' | relative_url }}"></script>
  </body>
</html>